@charset "utf-8";
/*

 __  __       _    __      _  __     __                    
|  \/  |     | |  / _|    | | \ \   / /                  
| \  / |_   _| |_| |_ __ _| | _\ \_/ /_ _ _ __  _ _ __ ___  
| |\/| | | | | __|  _/ _` | |/ /\   / _` | '_ \| | '_ ` _ \ 
| |  | | |_| | |_| || (_| |   <  | | (_| | |_) | | | | | | |
|_|  |_|\__,_|\__|_| \__,_|_|\_\ |_|\__,_| .__/|_|_| |_| |_|
                                         | |                
                                         |_|       

-------------------------------------------------------------
Copyright © 2019 All Right Reserved
Software by www.mutfakyapim.com
Developer by Asaf Mirtürk (asaf.mirturk@mutfakyapim.com)
Version 1.0
-------------------------------------------------------------

*/

@import url('dark.css?v=1');
@import url('light.css?v=1');
html {
  height: 100%
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400 !important;
  height: 100%
}

ul {
  margin: 0px;
  padding: 0px;
}

ul li {
  list-style: none;
}

a {
  color: #222222;
}

a:hover {
  color: #333333;
  text-decoration: none;
}

b {
  font-weight: 500 !important;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400 !important;
}

div.menu-shadow {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}

/* PUBLIC */

i.emoji-love {
  background-image: url(../../panel/assets/img/emojies/yerim.png);
  background-position: center;
  background-size: 36px;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -25px;
  right: 5px;
  width: 48px;
  height: 48px;
  text-align: center;
  border-radius: 35px;
}

i.emoji-smile {
  background-image: url(../../panel/assets/img/emojies/cok-iyi.png);
  background-position: center;
  background-size: 36px;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -25px;
  right: 5px;
  width: 48px;
  height: 48px;
  text-align: center;
  border-radius: 35px;
}

i.emoji-rocket {
  background-image: url(../../panel/assets/img/emojies/roket.png);
  background-position: center;
  background-size: 36px;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -25px;
  right: 5px;
  width: 48px;
  height: 48px;
  text-align: center;
  border-radius: 35px;
}

div.owl-carousel {
  position: relative;
}

div.owl-carousel i.left {
  position: absolute;
  left: -30px;
  top: 32%;
  color: #777777;
  font-size: 20px;
}

div.owl-carousel i.right {
  position: absolute;
  right: -30px;
  top: 32%;
  color: #777777;
  font-size: 20px;
}

/* NEWS DETAIL */

ul.post-emoji-bars {
  margin: 10px 0px;
  width: 100%;
  height: 70px;
  position: relative;
}

ul.post-emoji-bars li {
  width: 50px;
  margin: 0px 10px 0px 0px;
  float: left;
  background-color: #8cda9e;
  position: absolute;
  bottom: 0px;
  text-align: center;
}

ul.post-emoji-bars li span {
  margin: -20px 0px 0px 0px;
  display: block;
  font-weight: bold;
  font-size: 12px;
  color: #444444;
}

ul.post-emoji-icons {
  margin: 10px 0px;
}

ul.post-emoji-icons li {
  width: 50px;
  height: 50px;
  background-position: center;
  background-size: 42px;
  background-repeat: no-repeat;
  margin: 0px 10px 0px 0px;
  float: left;
  cursor: pointer;
}

ul.post-emoji-icons li:hover {
  background-size: 49px;
}

li.cok-iyi {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 64px;
  height: 64px;
  background-position: center center;
  background-image: url(../../panel/assets/img/emojies/cok-iyi.png);
}

li.kizgin {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 64px;
  height: 64px;
  background-position: center center;
  background-image: url(../../panel/assets/img/emojies/kizgin.png);
}

li.yerim {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 64px;
  height: 64px;
  background-position: center center;
  background-image: url(../../panel/assets/img/emojies/yerim.png);
}

li.uzucu {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 64px;
  height: 64px;
  background-position: center center;
  background-image: url(../../panel/assets/img/emojies/uzucu.png);
}

li.yok-artik {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 64px;
  height: 64px;
  background-position: center center;
  background-image: url(../../panel/assets/img/emojies/yok-artik.png);
}

li.helal-olsun {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 64px;
  height: 64px;
  background-position: center center;
  background-image: url(../../panel/assets/img/emojies/helal-olsun.png);
}

li.hos-degil {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 64px;
  height: 64px;
  background-position: center center;
  background-image: url(../../panel/assets/img/emojies/hos-degil.png);
}

li.roket {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 64px;
  height: 64px;
  background-position: center center;
  background-image: url(../../panel/assets/img/emojies/roket.png);
}

header.header {
  height: 74px;
}

.carousel-caption {
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #2222227a;
}

.owl-carousel .owl-wrapper {
  display: flex !important;
}

.owl-carousel .owl-item img {
  width: 100%;
  height: 330px;
  object-fit: cover;
  max-width: initial;
  min-height: auto;
}

.owl-dots {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.owl-dots button:focus {
  outline: none;
}

.owl-theme .owl-nav {
  margin-top: 0;
}

div.owl-carousel i.left {
  top: 43%
}

div.owl-carousel i.right {
  top: 43%
}

.banner160 {
  height: 160px;
}

@-webkit-keyframes wobble {
  from {
    -webkit-transform: none;
    transform: none;
  }
  15% {
    -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }
  30% {
    -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }
  45% {
    -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }
  60% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }
  75% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }
  to {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes wobble {
  from {
    -webkit-transform: none;
    transform: none;
  }
  15% {
    -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }
  30% {
    -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }
  45% {
    -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }
  60% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }
  75% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }
  to {
    -webkit-transform: none;
    transform: none;
  }
}

.wobble {
  -webkit-animation-name: wobble;
  animation-name: wobble;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@media only screen and (min-width: 992px) {
  .wrapper2 {
    margin-left: 140px;
    margin-right: 70px;
  }
}

.radius-facebook {
  background-color: #3b5998;
  text-align: center;
  border-radius: 100% 100% 0 0;
  justify-content: center;
  width: 100%;
}

.radius-twitter {
  background-color: #00acee;
  text-align: center;
  border-radius:  0 0 100% 100%;
  justify-content: center;
  width: 100%;
}

.radius-secondary {
  background-color: #333333;
  text-align: center;
  vertical-align: middle;
  border-radius: 100% !important;
  justify-content: center;
  width: 100%;
}